ion-item{
    --background: #8438ff;
    --color: #fff;
}

ion-button{
    --background: #530fc0;
}

ion-content{

    --ion-background-color:#fff;
}

ion-col{

    --ion-background-color:#8438ff;
}

.source{
    --ion-background-color:#8438ff;
    background-color: #8438ff ;
    height:100%;
    width:100%;
}


h3{
    color: #8438ff;
}

ion-title{
    --color: #530fc0;
}