<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1"  (click)="tasks_refresh()">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Görevler</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)="calendar_refresh()">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Takvim</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" (click)="profile_refresh()">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profilim</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
