

#background-mark {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #background-mark  strong {
    font-size: 20px;
    line-height: 26px;
    z-index :-10;
  }
  
  #background-mark  p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }

  #background-mark  .brand {
    font-size: 16px;
    line-height: 22px;
  
    color: #9561ad;
  
    margin: 0;
  }
  
  
  #background-mark  a {
    text-decoration: none;
  }

  .task_finished{
    
    color:#8a8a8a;
    text-decoration:line-through;
  }