<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium" style="text-align: left; padding-left: 5%;">Günlük Görevleriniz
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-item>
        <ion-input type="text" placeholder="Görev ekleyin..."
        [(ngModel)]="taskName"></ion-input>

        <div class="item-note" item-end>
        <ion-button color="tertiary" (click)="addTask()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <div padding>
      <ion-list>
        <ion-item *ngFor="let todo of taskList.slice().reverse(); let i = index" >
          <div *ngIf="todo.isFinished == false"> {{todo.taskName}}</div>
          <div *ngIf="todo.isFinished == true" class="task_finished"> {{todo.taskName}}</div>
        <div class="item-note" slot="end">
        <ion-button color="success" clear (click)="runTask(i)">
            <ion-icon name="caret-forward-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" clear (click)="deleteTask(i)">
        <ion-icon name="trash"></ion-icon>
        </ion-button>
        </div>
        </ion-item>


      </ion-list>
    </div>
    </ion-content>



  <div id="background-mark">
    <div class="brand" >Deskmate</div> <p>{{motivation}}</p>
  </div>


  
</ion-content>
