
.header{
    font-weight: bold;
    color:#df9aff;

}
.work{

    color:#578c4d;
    font-weight: bold;
    text-decoration: solid;
}

.sleep{
    color:#de67e2;
    font-weight: bold;
    text-decoration: solid;
}

.active{
    border-style: solid;
    color:#df9aff;
    border-color:#9561ad;


}

.specialbutton{

        background-color: "red";
        border-radius: 100%;
        color: "white";
        width: 32;
   
}

.fab{

    background-color: #78C000;
}